In [1]:
import pandas as pd

In [3]:
weather1 = pd.read_csv('./weather1.csv')
weather2 = pd.read_csv('./weather2.csv')

In [5]:
weather = pd.concat([weather1, weather2])

In [13]:
weather

           거래일자 지역(군)  평균기온  강수량  일조시간
0      20150101   종로구  -7.7  0.0   9.0
1      20150101   춘천시  -7.8  0.0   8.0
2      20150101   철원군  -9.1  0.0   9.0
3      20150101   속초시  -4.6  0.0   9.0
4      20150101   원주시  -7.2  0.0   9.0
...         ...   ...   ...  ...   ...
60966  20200521   울진군  12.3  0.0   8.0
60967  20200521   의성군  15.0  0.0  10.0
60968  20200521   영천시  14.1  0.0   6.0
60969  20200521   포항시  14.1  0.0   8.0
60970  20200521   울릉군  11.4  1.4   6.0

[139758 rows x 5 columns]

In [14]:
data = weather[weather['지역(군)'].isin(["고창군", "안동시", "고흥군", "의성군", "신안군"])]

In [15]:
data

           거래일자 지역(군)  평균기온  강수량  일조시간
32     20150101   신안군   0.0  1.5   3.0
37     20150101   고흥군  -1.5  0.0   6.0
45     20150101   고창군  -4.1  8.5   1.0
69     20150101   안동시  -6.7  0.0   9.0
72     20150101   의성군  -7.2  0.0   8.0
...         ...   ...   ...  ...   ...
60931  20200521   신안군  15.7  0.0  11.0
60933  20200521   고흥군  15.1  0.0   5.0
60941  20200521   고창군  16.9  0.0  11.0
60964  20200521   안동시  14.4  0.0  10.0
60967  20200521   의성군  15.0  0.0  10.0

[9574 rows x 5 columns]

In [18]:
data.loc[data["지역(군)"] == "고창군", "지역(군)"] = "Gochang"
data.loc[data["지역(군)"] == "고흥군", "지역(군)"] = "Goheung"
data.loc[data["지역(군)"] == "신안군", "지역(군)"] = "Sinan"
data.loc[data["지역(군)"] == "안동시", "지역(군)"] = "Andong"
data.loc[data["지역(군)"] == "의성군", "지역(군)"] = "Uiseong"

/Users/kimsejin/opt/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [19]:
data

           거래일자    지역(군)  평균기온  강수량  일조시간
32     20150101    Sinan   0.0  1.5   3.0
37     20150101  Goheung  -1.5  0.0   6.0
45     20150101  Gochang  -4.1  8.5   1.0
69     20150101   Andong  -6.7  0.0   9.0
72     20150101  Uiseong  -7.2  0.0   8.0
...         ...      ...   ...  ...   ...
60931  20200521    Sinan  15.7  0.0  11.0
60933  20200521  Goheung  15.1  0.0   5.0
60941  20200521  Gochang  16.9  0.0  11.0
60964  20200521   Andong  14.4  0.0  10.0
60967  20200521  Uiseong  15.0  0.0  10.0

[9574 rows x 5 columns]

In [21]:
data.to_csv('data.csv', encoding='utf-8', index=False, header=False)